<!doctype html>
<html lang="en">
  {{ partial "head.html" . }}
<body>
  <a class="skip-link" href="#main">Skip to main</a>
  
  <div class="page-container">
    {{ partial "header.html" . }}
    
    <main id="main" class="main-content">
      <article class="homepage-article">
        {{ .Content }}
      </article>
      
      {{ $posts := where .Site.RegularPages "Section" "posts" }}
      {{ if gt (len $posts) 0 }}
      <section class="latest-posts">
        <h2 class="section-title">Latest Posts</h2>
        <ul class="posts-list">
          {{ range (first 5 ($posts.ByDate.Reverse)) }}
          <li class="post-item">
            <time class="post-date" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time>
            {{ $post := . }}
            <a class="post-link" href="{{ .Permalink }}">
              <span class="post-link-title">{{ .Title }}</span>
              {{ with .Params.series }}
              <span class="post-list-series">
                {{ . }}{{ with $post.Params.part }} <span aria-hidden="true">&middot;</span> {{ . }}{{ end }}
              </span>
              {{ end }}
            </a>
          </li>
          {{ end }}
        </ul>
      </section>
      {{ end }}
    </main>

    {{ partial "footer.html" . }}
  </div>
</body>
</html>
